<section id="service" class="py-5">
    <div class="container">
          <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Our Policies</h2>
    <ul class="timeline animate__animated animate__fadeInUp">
     <!-- <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg">Empower Your Business with Our Expertise</h4>
          <p class="text-muted mb-0">
            At <strong>EcoSphere AI Solutions & Consultancy Ltd. (EcoSphere AI)</strong>, we are dedicated to providing innovative and strategic IT solutions that help businesses like yours thrive in today’s fast-paced digital landscape. Our tailored services are designed to drive growth, enhance operational efficiency, and future-proof your organisation. Explore our services below and learn how we can collaborate to transform your business.
          </p>
        </div>
     </li> -->
     <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Privacy Policy</h4>
              <p>EcoSphere AI Solutions & Consultancy Ltd is committed to protecting the privacy and confidentiality of personal data in accordance with the Data Protection Act 2018 and the General Data Protection Regulation (GDPR). This Privacy Policy outlines how we collect, use, disclose, and protect personal data in the course of our business operations...<a routerLink="/policies/privacypolicy">readmore</a></p>
              <!-- <h4 class="fw-bold mb-3 ">Accelerate Innovation with Bespoke AI Strategy & Expertise</h4> -->
              <!-- <p>Unlock the full potential of Artificial Intelligence with our tailored AI consultancy services. We guide organisations through the complexities of AI integration— from strategy development and feasibility studies to model deployment and optimisation. Whether you’re exploring generative AI, automation, or machine learning, our experts ensure your AI investments deliver measurable results, aligned with your business goals and regulatory requirements.</p> -->
              <!-- <h4 class="fw-bold mb-3 ">Why Choose Our IT Consultancy:</h4>
              <ul>
                <li>
                  <strong>Improve Efficiency:</strong> Streamline processes and maximise productivity.
                </li>
                <li>
                  <strong>Reduce Costs:</strong> Implement cost-effective solutions that boost your bottom line.
                </li>
                <li>
                  <strong>Stay Competitive:</strong> Stay ahead by leveraging the latest technological advancements.
                </li>
              </ul> -->
          </div>
          </div>
          <div class="col-md-6 ">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/policies/1.avif"
                alt="IT Consultancy Image"
                class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
          </div>
          </div>
          </div>
     </li>
     <li>
      <div class="row align-items-center ">
        <div class="col-md-6">
         <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
           <img src="/policies/2.avif"
            alt="IT Consultancy Image"
            class="img-fluid"
            style="width: 100%; height: auto; object-fit: cover;">
      </div>
      </div>
      <div class="col-md-6  ">
      <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg ">Terms of Use</h4>
          <p>Welcome to www.ecosphereai.uk These Terms of Use govern your use of our website. By accessing or using our website, you agree to comply with these terms. Please read them carefully before using our website...<a routerLink="/policies/termsofuse">readmore</a></p>
          <!-- <h4 class="fw-bold mb-3 ">Scalable AI & Cloud Platforms for Modern Business Needs</h4> -->
          <!-- <P>transform your operations with intelligent, cloud-native solutions. Our AI and cloud services combine the power of artificial intelligence with the flexibility and scalability of modern cloud platforms. We design and implement secure, agile solutions including data pipelines, predictive analytics, and AI-driven automation—empowering your organisation to adapt, scale, and lead in the digital era.</P> -->
      </div>
      </div>
      </div>
     </li>
     <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Cookies Policy</h4>
              <p>This Cookie Policy explains how www.ecosphereai.uk uses cookies and similar technologies to collect and store information when you visit our website. By using our website, you consent to the use of cookies in accordance with this policy...<a routerLink="/policies/cookiespolicy">readmore</a></p>
              <!-- <h4 class="fw-bold mb-3 ">Comprehensive Cyber Security to Protect Your Digital Assets</h4> -->
              <!-- <P>Stay ahead of evolving cyber threats with end-to-end cyber security solutions. We provide advanced threat detection, risk assessment, penetration testing, and compliance support tailored to your industry. Whether you need to secure hybrid work environments, protect sensitive data, or ensure regulatory compliance, our proactive approach helps mitigate risks and build long-term resilience.</P> -->
          </div>
          </div>
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/policies/3.avif"
                alt="IT Consultancy Image"
                class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
          </div>
          </div>
          </div>
     </li>
     <li>
      <div class="row align-items-center ">
        <div class="col-md-6">
         <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
           <img src="/policies/4.avif"
            alt="IT Consultancy Image"
            class="img-fluid"
            style="width: 100%; height: auto; object-fit: cover;">
      </div>
      </div>
      <div class="col-md-6  ">
      <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg ">Acceptable Usage Policy</h4>
          <p>Welcome to www.ecosphereai.uk This Acceptable Usage Policy (AUP) outlines the rules and guidelines for using our website. By accessing or using our website, you agree to comply with this AUP. Please read this policy carefully before using our website...<a routerLink="/policies/acceptableusagepolicy">readmore</a></p>
          <!-- <h4 class="fw-bold mb-3 ">Driving Sustainable Digital Transformation with Measurable Impact</h4> -->
          <!-- <P>Our Carbon Reduction Plan aligns with the UK Government’s Net Zero targets and provides a clear roadmap for reducing emissions across operations. We integrate sustainability into every solution, leveraging cloud efficiency, green technologies, and carbon reporting tools to support environmentally responsible growth. Discover how we help clients meet compliance standards while advancing ESG goals.</P> -->
      </div>
      </div>
      </div>
     </li>
     <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Data Protection Policy</h4>
              <p>EcoSphere AI Solutions & Consultancy Ltd recognizes the importance of protecting the confidentiality, integrity, and availability of personal and sensitive data entrusted to us by our clients, employees, and other stakeholders. This Data Protection Policy outlines our commitment to complying with data protection laws and regulations, including the General Data Protection Regulation (GDPR) and the Data Protection Act 2018, and ensuring the secure handling of data throughout its lifecycle...<a routerLink="/policies/dataprotectionpolicy">readmore</a></p>
              <!-- <h4 class="fw-bold mb-3 ">Effortless Onboarding to Government & Public Sector Frameworks</h4> -->
              <!-- <P>We streamline the onboarding process for public sector procurement frameworks across the UK. From G-Cloud and Digital Outcomes to specialised local authority frameworks, our team ensures your services are positioned compliantly and competitively. With deep experience in public sector procurement, we help suppliers and buyers achieve quicker engagement and successful project delivery.</P> -->
          </div>
          </div>
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/policies/5.avif"
                alt="IT Consultancy Image"
                class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
          </div>
          </div>
          </div>
     </li>
     <li>
      <div class="row align-items-center ">
        <div class="col-md-6">
         <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
           <img src="/policies/6.avif"
            alt="IT Consultancy Image"
            class="img-fluid"
            style="width: 100%; height: auto; object-fit: cover;">
      </div>
      </div>
      <div class="col-md-6  ">
      <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg ">BCMS Policy</h4>
          <p>While EcoSphere AI Solutions & Consultancy Ltd may not hold ISO 22301 certification, the organization diligently adheres to the guidelines set forth by the standard. With a steadfast commitment to implementing robust business continuity practices, EcoSphere AI ensures the resilience of its operations and the continuity of services to its clients...<a routerLink="/policies/bcms">readmore</a></p>
          <!-- <h4 class="fw-bold mb-3 ">Creating Social Impact Through Digital Innovation</h4> -->
          <!-- <P>We are committed to delivering social value through every engagement. Our work supports community development, inclusive employment, digital up skilling, and environmental stewardship. Aligned with the Public Services (Social Value) Act, we embed social value outcomes into project design and delivery—ensuring long-term benefits for people, communities, and the planet.</P> -->
      </div>
      </div>
      </div>
     </li>
     <li>
          <div class="row align-items-center ">
          <div class="col-md-6  ">
          <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">QMS Policy & Procedure</h4>
              <p>EcoSphere AI Solutions & Consultancy Ltd is committed to delivering high-quality services and products that exceed customer expectations. We recognize the importance of quality management in achieving our business objectives and strive to continuously improve our processes and performance. While we do not hold ISO 9001 certification, we adhere strictly to its guidelines to ensure the highest standards of quality and customer satisfaction...<a routerLink="/policies/qmspolicy">readmore</a></p>
              <!-- <h4 class="fw-bold mb-3 ">AI-Powered Financial Intelligence for Smarter Decisions</h4> -->
              <!-- <P>Gain real-time visibility and strategic clarity with our financial insights solutions. We integrate AI-driven analytics, forecasting tools, and custom dashboards to help you monitor performance, control costs, and plan for growth. Whether you're managing budgets in the public sector or driving profitability in the private sector, our insights support agile, informed decision-making.</P> -->
          </div>
          </div>
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/policies/7.avif"
                alt="IT Consultancy Image"
                class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
          </div>
          </div>
          </div>
     </li>
     <li>
      <div class="row align-items-center ">
        <div class="col-md-6">
         <div class="image-box bg-light shadow w-100 mx-auto" style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
           <img src="/policies/8.avif"
            alt="IT Consultancy Image"
            class="img-fluid"
            style="width: 100%; height: auto; object-fit: cover;">
      </div>
      </div>
      <div class="col-md-6  ">
      <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg ">Modern Slavery Policy & Procedure</h4>
          <p>To ensure that everyone at EcoSphere AI is aware of the Modern Slavery and Human Trafficking Policy and Procedure and the procedures in place to identify, respond appropriately and report in line with local and the national guidance. This policy refers to adults who may be at risk, the procedure for children is detailed in the Safeguarding Children and Child Protection Policy and Procedure...<a routerLink="/policies/modernslaverypolicy">readmore</a></p>
          <!-- <h4 class="fw-bold mb-3 ">Creating Social Impact Through Digital Innovation</h4> -->
          <!-- <P>We are committed to delivering social value through every engagement. Our work supports community development, inclusive employment, digital up skilling, and environmental stewardship. Aligned with the Public Services (Social Value) Act, we embed social value outcomes into project design and delivery—ensuring long-term benefits for people, communities, and the planet.</P> -->
      </div>
      </div>
      </div>
     </li>
     <!-- <li class="d-flex justify-content-center">
          <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
            <p class="text-muted mb-0">
              At EcoSphere AI, we are committed to delivering innovative, scalable, and cost-effective solutions that help your business thrive. Whether you’re looking to optimise your IT infrastructure, enhance your security, or expand into new markets, we have the expertise and dedication to help you succeed.
              Get in touch with us today to discuss how we can partner with you to drive your business growth. Together, we can achieve more!</p>
              <br>
               <div class="more-services">
              <button class="more-btn animate__animated animate__fadeInUp text-white" style="background-color: rgb(13, 13, 14);"  routerLink="/service">Explore Our Approach</button>
              </div>
          </div>
     </li> -->

 </ul>
 </div>
</section>
