
<section id="privacypolicy" class="py-5">
  <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Business Continuity Management System</h2>
  <div class="row py-3">
  <div class="image-box mx-auto "
     style="width: 90%; max-width: 100%; height: 300px; overflow: hidden; position: relative;
            border-top: 6px solid #00c2ff;
            border-left: 6px solid #0048a8;
            border-right: 6px solid #00c2ff;
            border-bottom: 6px solid #0048a8;">
  <div class="image-box">
    <img src="/privacy8.jpg" alt="Privacy Policy"
       class="img-fluid w-100"
       style="object-fit: contain; width: 80%; height: 80%; ">
  </div>


  <div style="position: absolute; top: 40%; left: 33%; transform: translate(-50%, -50%);
              color: rgb(100, 217, 221); font-size: 6vw; font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.893);
              padding: 10px 20px;
              border-radius: 8px;">
BCMS Declaration  </div>
  </div>
  </div>

   <ul class="timeline">
      <li class="d-flex justify-content-center">
       <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
        <h4 class="fw-bold mb-3">Declaration:</h4>
        <p>
          While EcoSphere AI Solutions & Consultancy Ltd may not hold ISO 22301 certification, the organization diligently adheres to the guidelines set forth by the standard. With a steadfast commitment to implementing robust business continuity practices, EcoSphere AI ensures the resilience of its operations and the continuity of services to its clients.
        </p><br>
        <p>
          By following the principles outlined in ISO 22301, including rigorous risk assessment, comprehensive business continuity planning, regular testing and training, and a culture of continuous improvement, EcoSphere AI effectively prepares for and responds to potential disruptions.
        </p><br>
        <p>
           This proactive approach not only mitigates risks but also demonstrates EcoSphere AI’s dedication to delivering reliable and innovative solutions, thereby fostering trust and confidence among its clientele.
        </p>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">Scope and Applicability</h4>
          <p>
            The Business Continuity Management System (BCMS) outlined in this document applies to all operations and activities of EcoSphere AI Solutions & Consultancy Ltd (EcoSphere AI), including but not limited to carbon reduction planning, brand design, application development, website design, product development, and mobile software solutions.
          </p>
      </div>
      </li>
        <li class="d-flex justify-content-center">
       <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
        <h4 class="fw-bold mb-3">Context of the Organization</h4>
        <p>
          EcoSphere AI is committed to bringing creativity, innovation, and cutting-edge technology to its clients. With expertise in carbon reduction planning and a focus on designing and building brands, applications, websites, and products, EcoSphere AI sets itself apart in the industry. Its tailored mobile software solutions include integration with RFID, NFC, BLE, and LoRaWAN technologies, catering to rugged devices like those from Honeywell and Zebra.        </p>
      </div>
      </li>
       <li class="timeline-inverted">
      <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">Leadership and Governance</h4>
          <p>
            Top management at EcoSphere AI is committed to the establishment, implementation, maintenance, and continual improvement of the BCMS in alignment with ISO 22301. They provide leadership, resources, and support to ensure the effectiveness of the BCMS.
        </p>
        <!-- <div style="margin-top: 20px;">
            <a href="/data-protection-policy.pdf" target="_blank">EcoSphere AI – BCMS
            </a>
            <br><br>
            <a href="/data-protection-policy.pdf" target="_blank"
            style="background-color: rgb(12, 12, 12); color: rgb(190, 186, 186); padding: 10px 20px; text-decoration: none; display: inline-block;">
            Download
            </a>
        </div> -->
        </div>
      </li>
</ul>
</section>
