<section id="privacypolicy" class="py-5">
    <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Terms of Use
</h2>
 <div class="row py-3">
  <div class="image-box mx-auto "
     style="width: 90%; max-width: 100%; height: 300px; overflow: hidden; position: relative;
            border-top: 6px solid #00c2ff;
            border-left: 6px solid #0048a8;
            border-right: 6px solid #00c2ff;
            border-bottom: 6px solid #0048a8;">
  <div class="image-box">
    <img src="/privacy8.jpg" alt="Privacy Policy"
       class="img-fluid w-100"
       style="object-fit: contain; width: 80%; height: 80%; ">
  </div>


  <div style="position: absolute; top: 40%; left: 27%; transform: translate(-50%, -50%);
              color: rgb(100, 217, 221); font-size: 6vw; font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.893);
              padding: 10px 20px;
              border-radius: 8px;">
              Terms of Use
  </div>
  </div>
  </div>

   <ul class="timeline">
      <li class="d-flex justify-content-center">
       <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <p >
            Welcome to <strong>www.ecosphereai.uk</strong> These Terms of Use govern your use of our website. By accessing or using our website, you agree to comply with these terms. Please read them carefully before using our website.
          </p>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
        <h4 class="fw-bold mb-3">1. Acceptance of Terms</h4>
         <p>
          By accessing or using our website, you agree to be bound by these Terms of Use. If you do not agree with any part of these terms, you may not use our website.
          </p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">2. Use of Website</h4>
          <p>
          You agree to use our website only for lawful purposes and in a manner consistent with all applicable laws and regulations.
          </p>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">3. Intellectual Property</h4>
         <p>All content on this website, including text, graphics, logos, images, audio clips, and software, is the property of EcoSphere AI Solutions & Consultancy Ltd. or its licensors and is protected by copyright laws.        </p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">4. User Content</h4>
        <p>By submitting content to our website, you grant us a non-exclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media.</p>
        </div>
      </li>
       <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">5. Limitation of Liability</h4>
          <p>Under no circumstances shall EcoSphere AI Solutions & Consultancy Ltd., be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our website.</p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">6. Indemnification</h4>
          <p>You agree to indemnify and hold harmless EcoSphere AI Solutions & Consultancy Ltd., from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of our website or your violation of these Terms of Use.</p>
        </div>
      </li>
       <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">7. Modification of Terms</h4>
          <p>We reserve the right to modify or replace these Terms of Use at any time. It is your responsibility to check these terms periodically for changes. Your continued use of our website following the posting of any changes to these terms constitutes acceptance of those changes.</p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">8. Governing Law</h4>
          <p>These Terms of Use shall be governed by and construed in accordance with the laws of UK, without regard to its conflict of law provisions.</p>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">9. Contact Us</h4>
          <p>
            If you have any questions about these Terms of Use, please <a routerLink="/contactus">contact us</a> by using our website, you agree to these Terms of Use. If you do not agree with these terms, please do not use our website
          </p>
        </div>
      </li>
      </ul>
</section>
