
<section id="privacypolicy" class="py-5">
  <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Modern Slavery Policy & Procedure</h2>
<div class="row py-3">
  <div class="image-box mx-auto "
     style="width: 90%; max-width: 100%; height: 300px; overflow: hidden; position: relative;
            border-top: 6px solid #00c2ff;
            border-left: 6px solid #0048a8;
            border-right: 6px solid #00c2ff;
            border-bottom: 6px solid #0048a8;">
  <div class="image-box">
    <img src="/privacy8.jpg" alt="Privacy Policy"
       class="img-fluid w-100"
       style="object-fit: contain; width: 80%; height: 80%; ">
  </div>


  <div style="position: absolute; top: 45%; left: 37%; transform: translate(-50%, -50%);
              color: rgb(100, 217, 221); font-size: 6vw; font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.893);
              padding: 10px 20px;
              border-radius: 8px;">
Modern Slavery Policy  </div>
  </div>
  </div>

   <ul class="timeline">
      <li class="d-flex justify-content-center">
       <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
        <h4 class="fw-bold mb-3">Purpose</h4>
        <p>
          To ensure that everyone at EcoSphere AI is aware of the Modern Slavery and Human Trafficking Policy and Procedure and the procedures in place to identify, respond appropriately and report in line with local and the national guidance. This policy refers to adults who may be at risk, the procedure for children is detailed in the Safeguarding Children and Child Protection Policy and Procedure.
        </p>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
          <li>
              To meet the legal requirements of the regulated activities that EcoSphere AI is registered to provide:
         </li>
             <ul>
               <li>
                    The Modern Slavery Act 2015
               </li>
               <li>
                    Health and Safety at Work etc. Act 1974
               </li>
               <li>
                    Human Rights Act 1998
               </li>
               <li>The Health and Social Care Act 2008 (Regulated Activities) (Amendment) Regulations 201
               </li>
         </ul>
        </ul>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">Scope</h4>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
          <li>
              The following roles may be affected by this policy:
          </li>
             <ul>
               <li>
                    All Staff
               </li>
               <li>
                    Registered Manager
               </li>
               <li>
                    Other Management
               </li>
           </ul>
          </ul>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
          <li>
            The following Service Users may be affected by this policy:
          </li>
             <ul>
               <li>
                  Service Users
               </li>
           </ul>
          </ul>
           <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
          <li>
              The following Stakeholders may be affected by this policy:
          </li>
             <ul>
               <li>
                    Commissioners
               </li>
               <li>
                    Local Authority
               </li>
           </ul>
          </ul>
      </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">Objectives</h4>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
           <li>
            To promote awareness of concerns surrounding slavery and human trafficking and promote the commitment of EcoSphere AI in addressing slavery and human trafficking in all its forms. An annual statement will be produced, where applicable.
           </li>
          <li>
            To ensure that identification, protection, care and support for victims of modern slavery and human trafficking is at the heart of our safeguarding procedures at EcoSphere AI.
          </li>
            <!-- <div style="margin-top: 20px;">
            <a href="/data-protection-policy.pdf" target="_blank">EcoSphere AI – Modern Slavery Policy and Procedure
            </a>
            <br><br>
            <a href="/data-protection-policy.pdf" target="_blank"
            style="background-color: rgb(10, 10, 10); color: rgb(220, 211, 211); padding: 10px 20px; text-decoration: none; display: inline-block;">
            Download
            </a>
            </div> -->
    </ul>
  </div>
</ul>
</section>
