<footer class="footer bg-black small text-center   text-white-50">
  <div class="bg-dark text-light py-5">
    <div class="container">
      <hr class="bg-light">
      <div class="row text-center">
        <div class="col-12 col-md-3 mb-4">
        <h6><strong>Registration</strong></h6>
          <p class="mb-0">Company Number: 16289220</p>
          <p class="mb-0">D-U-N-S® Number: 233578557</p>

        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Address</h6>
          <p class="mb-0">11 Rosebank Way,</p>
          <p class="mb-0"> Liverpool,L36 3AD,UK</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Contact</h6>
          <p class="mb-0">+44 (0) 7349 088 371/</p>
          <p class="mb-0">7712 659 373</p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h6>Email Address</h6>
          <p class="mb-0">connect&#64;ecosphereai.uk</p>
        </div>
      </div>
      <hr class="bg-light">
      <div class="row text-center">
        <div class="col-12 col-md-3 mb-4">
          <h6><strong>About Us</strong></h6>
          <p class="mb-0">
            EcoSphere AI Solutions & Consultancy Ltd, operating as EcoSphere AI, harmonises AI, Cloud, and Cyber Security with sustainable digital transformation. We empower clients to innovate, grow, and achieve ESG goals while navigating public sector frameworks.
          </p>
        </div>
        <div class="col-12 col-md-3 mb-4" >
          <h6>Pages</h6>
          <ul class="align-items-center list-group list-group-flush ">
            <li class="list-group-item bg-dark p-0 m-0" style="border: 0;">
            <a
              class="text-white py-1"
              routerLink="/about"
              style="text-decoration: none;"
              onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
              onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              About Us </a>
            </li>
             <li class="list-group-item bg-dark p-0 m-0" style="border: 0;">
              <a
              class="text-white py-1"
                routerLink="/service/mainservice"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              Services</a>

            </li>
            <!-- <li class="list-group-item bg-dark p-0 m-0" style="border: 0;">
              <a
              class="text-white "
                routerLink="/casestudies"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              Case Studies</a>
            </li> -->
            <li class="list-group-item bg-dark p-0 m-0" style="border: 0;">
               <a
              class="text-white mb-0"
                routerLink="/policies/mainpolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              Policies</a>

            </li>
            <li class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
                class="text-white"
                routerLink="/contactus"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 mb-4 ">
         <h6>Policies</h6>
         <ul class="align-items-center list-group list-group-flush">
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/privacypolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
             Privacy Policy</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/termsofuse"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
            Terms of Use</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/cookiespolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
            Cookies Policy</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/acceptableusagepolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
             Acceptable Usage Policy</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/dataprotectionpolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
              Data Protection Policy</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/bcms"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
             BCMS</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/qmspolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
            QMS Policy</a>
          </li>
          <li  class="list-group-item bg-dark p-0 m-0" style="border: 0;" >
              <a
              class="text-white"
                routerLink="/policies/modernslaverypolicy"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
            Modern Slavery Policy</a>
          </li>
         </ul>
        </div>
        <div class="col-12 col-md-3 mb-4">
        <h6>Recent Post</h6>
        <ul class="align-items-center list-group list-group-flush">
          <li  class="list-group-item bg-dark" style="border: 0;" >
              <a
              class="text-white"
                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
                Veloce – UAE
            <br>VELOCE – United Arab Emirates Successfully developed and implementing 80+… Read more</a>
          </li>
          <li  class="list-group-item bg-dark" style="border: 0;" >
              <a
              class="text-white"

                style="text-decoration: none;"
                onmouseover="this.classList.remove('text-white'); this.classList.add('text-primary')"
                onmouseout="this.classList.remove('text-primary'); this.classList.add('text-white')">
                RFIDiom Ltd – UK
            <br>RFIDiom Ltd – Liverpool – Kirkby Involved in developing and… Read more</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container  align-items-center px-4 px-lg-5">"Copyright © EcoSphere AI Solutions & Consultancy Ltd 2025"</div>
</footer>




