<section id="service" class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown"
      style="background-color: #ced4d4; color: white;">Our Service</h2>
    <ul class="timeline animate__animated animate__fadeInUp">
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3 fs-2 lh-lg">Empower Your Business with Our Expertise</h4>
          <p class="text-muted mb-0">
            At <strong>EcoSphere AI Solutions & Consultancy Ltd. (EcoSphere AI)</strong>, we are dedicated to providing
            innovative and strategic IT solutions that help businesses like yours thrive in today’s fast-paced digital
            landscape. Our tailored services are designed to drive growth, enhance operational efficiency, and
            future-proof your organisation. Explore our services below and learn how we can collaborate to transform
            your business.
          </p>
        </div>

      </li>
      <li>
        <div class="row align-items-center ">
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Agriculture (Agri-Tech) </h4>
              <h4 class="fw-bold mb-3 ">Crop Health Assessment, High-Density Field Mapping, and Drone-based Yield
                Prediction1</h4>
              <p>Enables early, localised intervention for pest/disease management, reducing overall pesticide use2.
                Provides scalable, non-invasive data collection for improved yield prediction and resource allocation3.
              </p>
              <!-- <h4 class="fw-bold mb-3 ">Why Choose Our IT Consultancy:</h4>
              <ul>
                <li>
                  <strong>Improve Efficiency:</strong> Streamline processes and maximise productivity.
                </li>
                <li>
                  <strong>Reduce Costs:</strong> Implement cost-effective solutions that boost your bottom line.
                </li>
                <li>
                  <strong>Stay Competitive:</strong> Stay ahead by leveraging the latest technological advancements.
                </li>
              </ul> -->
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/ag2.jpg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/ag3.jpeg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Environmental & Utilities </h4>
              <h4 class="fw-bold mb-3 ">Infrastructure Integrity Monitoring, Large-Scale Aerial Asset Inspection
                (Pylons, Pipelines, Solar Farms) </h4>
              <P>Accelerates preventative maintenance cycles and avoids costly, high-risk human inspections in
                hard-to-reach areas12. Prevents environmental and safety incidents through proactive asset monitoring13.
              </P>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Land Management </h4>
              <h4 class="fw-bold mb-3 ">Real-Time Intelligence in Remote Environments </h4>
              <P>The EcoSphere Edge Platform delivers significant value to Land Management by shifting complex,
                data-intensive analysis from a slow, central server to the devices themselves (the drone or the handheld
                scanner). This capability is revolutionary for managing large, remote, and often unconnected land
                assets, such as agricultural fields, protected forests, pipelines, and utility corridors.</P>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/ag4.png" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
          <div class="col-md-6 ">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/services/robot2.png" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">AI Consultancy</h4>
              <h4 class="fw-bold mb-3 ">Accelerate Innovation with Bespoke AI Strategy & Expertise</h4>
              <p>Unlock the full potential of Artificial Intelligence with our tailored AI consultancy services. We
                guide organisations through the complexities of AI integration— from strategy development and
                feasibility studies to model deployment and optimisation. Whether you’re exploring generative AI,
                automation, or machine learning, our experts ensure your AI investments deliver measurable results,
                aligned with your business goals and regulatory requirements.</p>
              <!-- <h4 class="fw-bold mb-3 ">Why Choose Our IT Consultancy:</h4>
              <ul>
                <li>
                  <strong>Improve Efficiency:</strong> Streamline processes and maximise productivity.
                </li>
                <li>
                  <strong>Reduce Costs:</strong> Implement cost-effective solutions that boost your bottom line.
                </li>
                <li>
                  <strong>Stay Competitive:</strong> Stay ahead by leveraging the latest technological advancements.
                </li>
              </ul> -->
            </div>
          </div>

        </div>
      </li>

      <li>
        <div class="row align-items-center ">

          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">AI & Cloud Solutions</h4>
              <h4 class="fw-bold mb-3 ">Scalable AI & Cloud Platforms for Modern Business Needs</h4>
              <P>transform your operations with intelligent, cloud-native solutions. Our AI and cloud services combine
                the power of artificial intelligence with the flexibility and scalability of modern cloud platforms. We
                design and implement secure, agile solutions including data pipelines, predictive analytics, and
                AI-driven automation—empowering your organisation to adapt, scale, and lead in the digital era.</P>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/services/robot3.png" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/robot6.jpeg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Cyber Security</h4>
              <h4 class="fw-bold mb-3 ">Comprehensive Cyber Security to Protect Your Digital Assets</h4>
              <P>Stay ahead of evolving cyber threats with end-to-end cyber security solutions. We provide advanced
                threat detection, risk assessment, penetration testing, and compliance support tailored to your
                industry. Whether you need to secure hybrid work environments, protect sensitive data, or ensure
                regulatory compliance, our proactive approach helps mitigate risks and build long-term resilience.</P>
            </div>
          </div>

        </div>
      </li>

      <li>
        <div class="row align-items-center ">

          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Sustainability / Carbon Reduction Plan</h4>
              <h4 class="fw-bold mb-3 ">Driving Sustainable Digital Transformation with Measurable Impact</h4>
              <P>Our Carbon Reduction Plan aligns with the UK Government’s Net Zero targets and provides a clear roadmap
                for reducing emissions across operations. We integrate sustainability into every solution, leveraging
                cloud efficiency, green technologies, and carbon reporting tools to support environmentally responsible
                growth. Discover how we help clients meet compliance standards while advancing ESG goals.</P>
            </div>
          </div>
           <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/13.jpg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
           <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/services/5.webp" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Onboarding Public Sector Framework </h4>
              <h4 class="fw-bold mb-3 ">Effortless Onboarding to Government & Public Sector Frameworks</h4>
              <P>We streamline the onboarding process for public sector procurement frameworks across the UK. From
                G-Cloud and Digital Outcomes to specialised local authority frameworks, our team ensures your services
                are positioned compliantly and competitively. With deep experience in public sector procurement, we help
                suppliers and buyers achieve quicker engagement and successful project delivery.</P>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">

          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Social Values</h4>
              <h4 class="fw-bold mb-3 ">Creating Social Impact Through Digital Innovation</h4>
              <P>We are committed to delivering social value through every engagement. Our work supports community
                development, inclusive employment, digital up skilling, and environmental stewardship. Aligned with the
                Public Services (Social Value) Act, we embed social value outcomes into project design and
                delivery—ensuring long-term benefits for people, communities, and the planet.</P>
            </div>
          </div>
            <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/services/robtE.jpg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row align-items-center ">
          <div class="col-md-6">
            <div class="image-box bg-light shadow w-100 mx-auto"
              style="width: 100%; max-width: 100%; height: auto; overflow: hidden; border-radius: 10px;">
              <img src="/services/robtA2.jpeg" alt="IT Consultancy Image" class="img-fluid"
                style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="section-box bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
              <h4 class="fw-bold mb-3 fs-2 lh-lg ">Financial Insights</h4>
              <h4 class="fw-bold mb-3 ">AI-Powered Financial Intelligence for Smarter Decisions</h4>
              <P>Gain real-time visibility and strategic clarity with our financial insights solutions. We integrate
                AI-driven analytics, forecasting tools, and custom dashboards to help you monitor performance, control
                costs, and plan for growth. Whether you're managing budgets in the public sector or driving
                profitability in the private sector, our insights support agile, informed decision-making.</P>
            </div>
          </div>
        </div>
      </li>

      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <p class="text-muted mb-0">
            At EcoSphere AI, we are committed to delivering innovative, scalable, and cost-effective solutions that help
            your business thrive. Whether you’re looking to optimise your IT infrastructure, enhance your security, or
            expand into new markets, we have the expertise and dedication to help you succeed.
            Get in touch with us today to discuss how we can partner with you to drive your business growth. Together,
            we can achieve more!</p>
          <br>
          <div class="more-services">
            <button class="more-btn animate__animated animate__fadeInUp text-white"
              style="background-color: rgb(13, 13, 14);" routerLink="/service">Explore Our Approach</button>
          </div>
        </div>
      </li>

    </ul>
    <div style="
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px 30px;
  background-color: #f8f8f9;
  max-width: 1000px;
  margin: 50px auto; /* 👈 Top & Bottom margin added */
  text-align: center;
">

      <!-- Left Side: Image and Text -->
      <div style="
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  ">
        <!-- Image -->
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Support"
          style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">

        <!-- Text -->
        <div>
          <h4 style="margin: 0; font-weight: 700;">Contact Information</h4>
          <p style="margin: 0; color: #555;">To start your journey with us, please</p>
        </div>
      </div>

      <!-- Right Side: Button -->
      <a href="/contact" style="
       background-color: #2196F3;
       color: white;
       padding: 10px 25px;
       border-radius: 999px;
       text-decoration: none;
       font-weight: 500;
     " routerLink="/contactus">
        Contact Us
      </a>
    </div>

  </div>
</section>
