
  <div class="pt-5 mt-4"></div>
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" >
      <div class="carousel-inner">
      <div id="service"></div>

         <!-- Slide 7 -->
      <div class="carousel-item active" >
          <img src="/istock13.jpg" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 3" >
           <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 28px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            > AI at the Edge: Solving Industrial Problems with Rugged Devices and Smart Mobile Apps </h1>
            <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              15-20% Revenue Growth, 80% Reduction in Compliance Risk Exposure, 
              <br/>80% Fewer Errors, 60% Faster Onboarding, 50% Faster Operations, 
              <br/>35–55% Informed Decisions, 20–40% Lower Operating Costs
              </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>

      </div>

        <!-- Slide 1 -->
        <div class="carousel-item">
          <img src="/home22.avif" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 1">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
              <h1 class="  fw-bold  animate__animated animate__fadeInDown"
              style="position:relative;
              color: rgb(255, 255, 255);
               font-size: clamp(24px, 6vw, 40px);
              font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;
              ">AI Consultancy</h1>
               <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              Accelerate Innovation with Bespoke AI Strategy & Expertise.
              <!-- <a class="btn btn-warning btn-lg mt-3 animate__animated animate__fadeInUp" routerLink="/knowme" >Tell Me More</a> -->
            </div>
          </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item ">
          <img src="/home33.avif" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 2">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 40px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            >AI & Cloud Solutions</h1>
            <p class=" animate__animated animate__fadeInUp "
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
              >
              Scalable AI & Cloud Platforms for Modern Business Needs.
            </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" >
          <img src="/home44.avif" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 3" >
           <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 40px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            >Cyber Security</h1>
            <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              Comprehensive Cyber Security to Protect Your Digital Assets.
            </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>
      </div>

        <!-- Slide 4 -->
      <div class="carousel-item" >
          <img src="/robthome8.jpg" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 3" >
           <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 40px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            >Sustainability / Carbon Reduction Plan</h1>
             <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              Driving Sustainable Digital Transformation with Measurable Impact.
            </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>
      </div>

       <!-- Slide 5 -->
      <div class="carousel-item" >
          <img src="/16.jpg" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 3" >
           <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 40px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            >Onboarding Public Sector Framework / Social Values</h1>
            <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              Effortless Onboarding to Government & Public Sector Frameworks / Creating Social Impact Through Digital Innovation.             </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>
      </div>

      <!-- Slide 6 -->
      <div class="carousel-item" >
          <img src="/home99.avif" class="d-block w-100 vh-100 object-fit-cover" alt="Slide 3" >
           <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center px-3 text-center">
            <div class="w-100 w-md-75 text-white">
            <h1 class="fw-bold display-5 display-md-4 animate__animated animate__fadeInDown"
            style="position:relative; ;
              color: rgb(224, 217, 217); font-size: clamp(24px, 6vw, 40px); font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;"
            > Financial Insights</h1>
            <p class=" animate__animated animate__fadeInUp"
              style="position:relative;
              color: rgb(224, 217, 217);   font-size: clamp(10px, 6vw, 20px);
               font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(192, 162, 162, 0.6);
              border-radius: 8px;">
              AI-Powered Financial Intelligence for Smarter Decisions.
            </p>
            <!-- <a class="btn btn-warning btn-lg mt-3" routerLink="/knowme">Tell Me More</a> -->
          </div>
        </div>

      </div>





      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

  <section class="full-services-section">
  <div class="services-container">
    <h2 class="section-heading animate__animated animate__fadeInUp ">Our Popular Services</h2>

   
    
    <div class="services-grid animate__animated animate__fadeInUp animate">
      <!-- Service Card -->
      <div class="container ">
        <div class="service-card bg-tealblue mb-3" >
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3">
            <h3 class="fw-bold mb-0 text-dark">80%</h3>
            <p class="mb-0 ps-1 text-start text-dark">Fewer Manual Errors</p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-success  bg-opacity-25 p-3 ">
          <h3 class="fw-bold mb-0 text-dark" >60%</h3>
          <p class="mb-0 ps-1 text-start text-dark">Faster Onboarding & Training</p>
          </div>
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3 ">
            <h3 class="fw-bold mb-0 text-dark">50%</h3>
            <p class="mb-0 ps-1 text-start text-dark">Faster Operations</p>
          </div>
          
        </div>
        
      
        <div class="service-card bg-tealblue">
          <a routerLink="service/rugged-apps-ai">
          <img src="/tablet (1).png" alt="Cloud Solutions" />
          <h4 class="service-title">Rugged Apps AI</h4>
         
          <p>
          Intuitive mobile UI and dynamic forms reduce training time and get new staff productive from Day 1 — no technical expertise required.
          <br>

          Streamline inspections, tracking, and audits with AI-powered mobile workflows.
          <br>

          Smart forms with real-time validation and conditional logic ensure accuracy. </p>
            SEE DETAILS <br>
            Transform Field Operations with AI-Powered Mobile Apps on Rugged Devices
          </a>
          <br/>
          <br/>
        </div>
      </div>

      <div class="container " >
        <div class="service-card bg-bluegradient mb-3" >
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3">
            <h3 class="fw-bold mb-0">35–55%</h3>
            <p class="mb-0 ps-1 text-start">More Informed Decisions</p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-success  bg-opacity-25 p-3 ">
          <h3 class="fw-bold mb-0" >2X</h3>
          <p class="mb-0 ps-1 text-start">Faster Task Completion</p>
          </div>
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3 ">
            <h3 class="fw-bold mb-0">2X</h3>
            <p class="mb-0 ps-1 text-start">Faster Compliance Reporting</p>
          </div>
        </div>
        <div class="service-card bg-bluegradient">
          <a routerLink="service/rugged-apps-ai">
          <img src="/robot.png" alt="Cloud Solutions" />
          <h4 class="service-title">Rugged Apps AI</h4>
          
          <p>
          Smart forms adapt to context, device use offline capture, camera, barcode, GPS, etc.
          <br>

          Instant sync, digital signatures, geo-tagging and auto-generated reports on submit.
          <br>

          Data captured at the edge fuels better analytics and smarter business insights.
          <br>
          AI suggestions, analytics, and smart dashboards built from collected data. </p>
          SEE DETAILS
            <br>
            RFID / NFC with AI-powered Mobile Apps
          </a>
          <br/>
          <br/>
        
        </div>
      </div>

      <div class="container">
        <div class="service-card bg-cyanocean mb-3" >
          <div class="d-flex justify-content-between align-items-center border-success  bg-opacity-25 p-3 ">
          <h3 class="fw-bold mb-0" >60%</h3>
          <p class="mb-0 ps-1 text-start">Reduction in Audit Risk Exposure</p>
          </div>
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3 ">
            <h3 class="fw-bold mb-0">20–40%</h3>
            <p class="mb-0 ps-1 text-start">Lower Operating Costs</p>
          </div>
          <div class="d-flex justify-content-between align-items-center  border-success  bg-opacity-25 p-3">
            <h3 class="fw-bold mb-0">15-20%</h3>
            <p class="mb-0 ps-1 text-start">Revenue Growth per Year</p>
          </div>
        </div>
        <div class="service-card bg-cyanocean">
          <a routerLink="service/rugged-apps-ai">
          <img src="/printer (2).png" alt="Cloud Solutions" />
          <h4 class="service-title">Rugged Apps AI</h4>
          
          <p>
          Full digital audit trail with AI-powered consistency checks with GPS tagging, timestamps, and automated rule enforcement keep you always audit-ready
          <br>

          Eliminate paper, reduce rework, and cut downtime with intelligent automation.
          <br>
          Better uptime, faster cycle times, improved SLAs fulfilment, and increased operational capacity. </p>
          SEE DETAILS
            <br>
            Integrating to/from Label and ID Card Printing Solutions
          </a>
        </div>
      </div>

      <div class="service-card bg-lightblue">
        <a routerLink="service/cloudsolutions">
        <img src="/services/1.png" alt="Cloud Solutions" />
        <h4 class="service-title">AI Consultancy</h4>
        <p>Unlock the full potential of Artificial Intelligence with our tailored AI consultancy services. We guide organisations through the complexities of AI integration—from strategy development and feasibility studies to model deployment and optimisation. Whether you’re exploring generative AI, automation, or machine learning, our experts ensure your AI investments deliver measurable results, aligned with your business goals and regulatory requirements.</p>
        SEE DETAILS</a>
      </div>

      <div class="service-card bg-orangegold">
        <a routerLink="/service/processdevelopment">
        <img src="/cloud (2).png" alt="Process Development" />
        <h3 class="service-title">AI & Cloud Solutions</h3>
        <p> Transform your operations with intelligent, cloud-native solutions. Our AI and cloud services combine the power of artificial intelligence with the flexibility and scalability of modern cloud platforms. We design and implement secure, agile solutions including data pipelines, predictive analytics, and AI-driven automation—empowering your organisation to adapt, scale, and lead in the digital era.</p>
        SEE DETAILS</a>
      </div>

      <div class="service-card bg-cyberwave">
        <a routerLink="/service/specialisedconsultancy">
        <img src="/65.png" alt="Specialised Consultancy" />
        <h3 class="service-title">Cyber Security</h3>
        <p>Stay ahead of evolving cyber threats with end-to-end cyber security solutions. We provide advanced threat detection, risk assessment, penetration testing, and compliance support tailored to your industry. Whether you need to secure hybrid work environments, protect sensitive data, or ensure regulatory compliance, our proactive approach helps mitigate risks and build long-term resilience</p>
        SEE DETAILS</a>
      </div>

      <div class="service-card bg-greensmooth">
        <a routerLink="/service/carbonreductionplan">
        <img src="/services/4.png" alt="Carbon Reduction Plan" />
        <h3 class="service-title">Sustainability / Carbon Reduction Plan</h3>
        <p>Our Carbon Reduction Plan aligns with the UK Government’s Net Zero targets and provides a clear roadmap for reducing emissions across operations. We integrate sustainability into every solution, leveraging cloud efficiency, green technologies, and carbon reporting tools to support environmentally responsible growth. Discover how we help clients meet compliance standards while advancing ESG goals.</p>
        SEE DETAILS</a>
      </div>

      <div class="service-card bg-violetrose">
        <a routerLink="/service/digitalmarketing">
        <img src="/services/5.png" alt="Digital Marketing" />
        <h3 class="service-title">On boarding Public Sector Framework / Social Values</h3>
        <p>we streamline the on boarding process for public sector procurement frameworks across the UK. From G-Cloud and Digital Outcomes to specialised local authority frameworks, our team ensures your services are positioned compliantly and competitively. With deep experience in public sector procurement, we help suppliers and buyers achieve quicker engagement and successful project delivery. </p>
        SEE DETAILS</a>
      </div>

      <div class="service-card bg-deepocean">
        <a routerLink="/service/webd">
        <img src="/services/3.png" alt="Web Designing" />
        <h3 class="service-title">Financial Insights</h3>
        <p>Gain real-time visibility and strategic clarity with our financial insights solutions. We integrate AI-driven analytics, forecasting tools, and custom dashboards to help you monitor performance, control costs, and plan for growth. Whether you're managing budgets in the public sector or driving profitability in the private sector, our insights support agile, informed decision-making.</p>
        SEE DETAILS</a>
      </div>
    </div>

    <!-- Bottom Button -->
    <!-- <div class="more-services">
      <button class="more-btn animate__animated animate__fadeInUp" routerLink="/service">More Our Services</button>
    </div> -->
  </div>
  </section>





