<section id="privacypolicy" class="py-5">
  <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">Cookies Policy</h2>
  <div class="row py-3">
  <div class="image-box mx-auto "
     style="width: 90%; max-width: 100%; height: 300px; overflow: hidden; position: relative;
            border-top: 6px solid #00c2ff;
            border-left: 6px solid #0048a8;
            border-right: 6px solid #00c2ff;
            border-bottom: 6px solid #0048a8;">
  <div class="image-box">
    <img src="/privacy8.jpg" alt="Privacy Policy"
       class="img-fluid w-100"
       style="object-fit: contain; width: 80%; height: 80%; ">
  </div>


  <div style="position: absolute; top: 40%; left: 27%; transform: translate(-50%, -50%);
              color: rgb(100, 217, 221); font-size: 6vw; font-weight: bold;
              font-weight: bold;
              font-family: 'Arial,', sans-serif;
              text-shadow: 2px 2px 4px rgba(18, 18, 18, 0.893);
              padding: 10px 20px;
              border-radius: 8px;">
              Cookies Policy
              </div>
  </div>
  </div>

   <ul class="timeline">
      <li class="d-flex justify-content-center">
       <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <p >
            This Cookie Policy explains how <strong>www.ecosphereai.uk</strong> uses cookies and similar technologies to collect and store information when you visit our website. By using our website, you consent to the use of cookies in accordance with this policy.
          </p>
      </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">1. What are Cookies?</h4>
          <p>Cookies are small text files that are stored on your computer or mobile device when you visit a website. They allow the website to recognize your device and store certain information about your preferences or actions.</p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">2. How We Use Cookies</h4>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
           <p>We use cookies for the following purposes:</p>
            <li>To provide and improve our website: Cookies help us understand how visitors interact with our website and make improvements based on their usage patterns.
            </li>
            <li>To personalize your experience: Cookies enable us to remember your preferences and settings, such as language preferences or login information, so you don’t have to re-enter them each time you visit.
            </li>
            <li>To analyze website traffic: We use cookies to track website usage and gather statistical information about visitor behavior, such as which pages are most popular or how visitors navigate the site.
            </li>
            </ul>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">3. Types of Cookies We Use</h4>
          <ul style="list-style-type: disc; list-style-position: inside; padding-left: 110px; margin: 0; text-align: left;">
             <li>
              Essential Cookies: These cookies are necessary for the functioning of our website and cannot be disabled in our systems. They are usually set in response to actions you take, such as setting your privacy preferences, logging in, or filling out forms.
             </li>
             <li>
              Performance Cookies: These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our website. They help us understand which pages are the most and least popular and see how visitors move around the site.
             </li>
             <li>
              Functional Cookies: These cookies enable the website to provide enhanced functionality and personalization. They may be set by us or by third-party providers whose services we have added to our pages.
             </li>
             <li>
              Targeting Cookies: These cookies may be set through our site by our advertising partners. They may be used to build a profile of your interests and show you relevant advertisements on other sites.
             </li>
            </ul>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">4. Managing Cookies</h4>
         <p>You can control and/or delete cookies as you wish. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. However, if you do this, you may have to manually adjust some preferences every time you visit our website, and some features may not work as intended.</p>
        </div>
      </li>
       <li class="timeline-inverted">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">5. Changes to this Policy</h4>
        <p>
          We may update this Cookie Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this policy periodically for any updates.
        </p>
        </div>
      </li>
      <li class="d-flex justify-content-center">
        <div class="timeline-panel text-center bg-light p-4 rounded shadow w-100" style="max-width: 900px;">
          <h4 class="fw-bold mb-3">6. Contact Us</h4>
          <p>
            If you have any questions about our Cookie Policy, please <a routerLink="/contactus">contact us</a>.
          </p>
          <p>By using our website, you consent to the use of cookies as described in this policy. If you do not agree with the use of cookies, please refrain from using our website.</p>
        </div>
      </li>
   </ul>
</section>
