
<div class="container-fluid">

  <div class="col py-5 pt-5 ">
    <h2 class="text-center fw-bold text-uppercase text-black animate__animated animate__fadeInDown" style="background-color: #ced4d4; color: white;">
      Application Development FAQs
    </h2>
  </div>
  <div class="container text-center">
    <div class="row ">
    <!-- Left Section -->
      <div class="col-md-6 py-5 pt-5 animate__animated animate__fadeInUp">
          <div class=" wrapper">
            <h2>Have questions?We have answers.</h2>
            <p>Find answers to frequently asked questions below.<br> Need more help? Our support team is here for you.</p>
          </div>
      </div>
      <div class="col-md-6 py-3  pt-3 animate__animated animate__fadeInUp" >
        <div *ngFor="let i of items; " class="text-black"
            onmouseover="this.classList.remove('text-black'); this.classList.add('text-primary')"
            onmouseout="this.classList.remove('text-primary'); this.classList.add('text-black')">
          <app-panel
            [title] = "i.title"
            [paragraph] ="i.description"
            >
          </app-panel>
      </div>
      </div>
    </div>
</div>
</div>
